<div class="country-info">
    <h1 class="country-name">{{this.name}}</h1>
    <div class="info-container">
        <div class="summary">
            <div class="capital record">
                <span class="item-header">Capital:</span>
                <span>{{{capital}}}</span>
            </div>
            <div class="population record">
                <span class="item-header">Population:</span>
                <span>{{{population}}}</span>
            </div>
            <div class="languages record">
                <span class="item-header">Languages:</span>
                <ul>
                    {{#each languages}}
                    <li class="countries-list__item">{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="flag">
            <img class="" src="{{flag}}" alt="country-flag" width="300">
        </div>
    </div>
</div>